<section class="bg-color">
    <div class="containers">
        <div class="title">
            <p>Hurry Up!!!!! 20% Discount</p>
            <h1><span>Childern</span> Dress</h1>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-main">
                        <div class="discount">-9%</div>
                        <div class="label label-green">Pre-order</div>
                        <div class="product-container">
                            <div class="p" (mouseover)="imageChange1($event)"><img src="../assets/Img/child.jpg" alt="Product"></div>
                            <div class="p" (mouseover)="imageChange1($event)"><img src="../assets/Img/child2.jpg" alt="Product"></div>
                            <div class="p" (mouseover)="imageChange1($event)"><img src="../assets/Img/child3.jpg" alt="Product"></div>
                        </div>
                        <div class="image">
                            <img src="{{url2}}" alt="Product">
                        </div>
                        <div class="cart-line"></div>
                        <div class="cart-item">
                            <ul>
                                <li><a href=""><i class="fa fa-shopping-basket"></i></a></li>
                                <li><a href=""><i class="fa fa-heart"></i></a></li>
                                <li><a href=""><i class="fa fa-search"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="content">
                        <a href="javascript:void(0);">Incidid Tongue Bar</a>
                        <div class="rating">
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <p><span class="money">$81.00</span><span class="price-old">$89.00</span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-main">
                        <div class="discount">-10%</div>
                        <div class="label label-green">Pre-order</div>
                        <div class="product-container">
                            <div class="p"(mouseover)="imageChange1($event)"><img src="../assets/Img/child4.jpg" alt="Product"></div>
                            <div class="p"(mouseover)="imageChange1($event)"><img src="../assets/Img/child2.jpg" alt="Product"></div>
                            <div class="p"(mouseover)="imageChange1($event)"><img src="../assets/Img/child.jpg" alt="Product"></div>
                        </div>
                        <div class="image">
                            <img src="../assets/Img/child2.jpg" alt="Product">
                        </div>
                        <div class="cart-line"></div>
                        <div class="cart-item">
                            <ul>
                                <li><a href=""><i class="fa fa-shopping-basket"></i></a></li>
                                <li><a href=""><i class="fa fa-heart"></i></a></li>
                                <li><a href=""><i class="fa fa-search"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="content">
                        <a href="javascript:void(0);">Incidid Tongue Bar</a>
                        <div class="rating">
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <p><span class="money">$81.00</span><span class="price-old">$89.00</span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-main">
                        <div class="discount">-8%</div>
                        <div class="label label-green">Pre-order</div>
                        <div class="product-container">
                            <div class="p"(mouseover)="imageChange1($event)"><img src="../assets/Img/lap1.jpg" alt="Product"></div>
                            <div class="p"(mouseover)="imageChange1($event)"><img src="../assets/Img/lap2.jpg" alt="Product"></div>
                            <div class="p"(mouseover)="imageChange1($event)"><img src="../assets/Img/lap3.jpg" alt="Product"></div>
                        </div>
                        <div class="image">
                            <img src="../assets/Img/child4.jpg" alt="Product">
                        </div>
                        <div class="cart-line"></div>
                        <div class="cart-item">
                            <ul>
                                <li><a href=""><i class="fa fa-shopping-basket"></i></a></li>
                                <li><a href=""><i class="fa fa-heart"></i></a></li>
                                <li><a href=""><i class="fa fa-search"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="content">
                        <a href="javascript:void(0);">Incidid Tongue Bar</a>
                        <div class="rating">
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <p><span class="money">$81.00</span><span class="price-old">$89.00</span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-main">
                        <div class="discount">-6%</div>
                        <div class="label label-green">Pre-order</div>
                        <div class="product-container">
                            <div class="p"(mouseover)="imageChange1($event)"><img src="./assets/Img/child2.jpg" alt="Product"></div>
                            <div class="p"(mouseover)="imageChange1($event)"><img src="../assets/Img/child1.jpg" alt="Product"></div>
                            <div class="p"(mouseover)="imageChange1($event)"><img src="../assets/Img/child4.jpg" alt="Product"></div>
                        </div>
                        <div class="image">
                            <img src="../assets/Img/child6.jpg" alt="Product">
                        </div>
                        <div class="cart-line"></div>
                        <div class="cart-item">
                            <ul>
                                <li><a href=""><i class="fa fa-shopping-basket"></i></a></li>
                                <li><a href=""><i class="fa fa-heart"></i></a></li>
                                <li><a href=""><i class="fa fa-search"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="content">
                        <a href="javascript:void(0);">Incidid Tongue Bar</a>
                        <div class="rating">
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <p><span class="money">$81.00</span><span class="price-old">$89.00</span></p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
  </section>

<section class="bg-color">
    <div class="containers">
        <div class="title">
            <p>Hurry!!!! UP to 50% Discount</p>
            <h1><span>Baby</span> Shooes</h1>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-main">
                        <div class="discount">-9%</div>
                        <div class="label label-green">Pre-order</div>
                        <div class="product-container">
                            <div class="p" (mouseover)="imageChange($event)"><img src="../assets/Img/chbag1.jpg" alt="Product"></div>
                            <div class="p" (mouseover)="imageChange($event)"><img src="../assets/Img/chbag2.jpg" alt="Product"></div>
                            <div class="p" (mouseover)="imageChange($event)"><img src="../assets/Img/chbag3.jpg" alt="Product"></div>
                        </div>
                        <div class="image">
                            <img src="{{url}}" alt="Product">
                        </div>
                        <div class="cart-line"></div>
                        <div class="cart-item">
                            <ul>
                                <li><a href=""><i class="fa fa-shopping-basket"></i></a></li>
                                <li><a href=""><i class="fa fa-heart"></i></a></li>
                                <li><a href=""><i class="fa fa-search"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="content">
                        <a href="javascript:void(0);">Incidid Tongue Bar</a>
                        <div class="rating">
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <p><span class="money">$81.00</span><span class="price-old">$89.00</span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-main">
                        <div class="discount">-10%</div>
                        <div class="label label-green">Pre-order</div>
                        <div class="product-container">
                            <div class="p"(mouseover)="imageChange($event)"><img src="../assets/Img/childsho1.jpg" alt="Product"></div>
                            <div class="p"(mouseover)="imageChange($event)"><img src="../assets/Img/childsho2.jpg" alt="Product"></div>
                            <div class="p"(mouseover)="imageChange($event)"><img src="../assets/Img/childsho3.jpg" alt="Product"></div>
                        </div>
                        <div class="image">
                            <img src="../assets/Img/childsho4.jpg" alt="Product">
                        </div>
                        <div class="cart-line"></div>
                        <div class="cart-item">
                            <ul>
                                <li><a href=""><i class="fa fa-shopping-basket"></i></a></li>
                                <li><a href=""><i class="fa fa-heart"></i></a></li>
                                <li><a href=""><i class="fa fa-search"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="content">
                        <a href="javascript:void(0);">Incidid Tongue Bar</a>
                        <div class="rating">
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <p><span class="money">$81.00</span><span class="price-old">$89.00</span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-main">
                        <div class="discount">-8%</div>
                        <div class="label label-green">Pre-order</div>
                        <div class="product-container">
                            <div class="p"(mouseover)="imageChange($event)"><img src="../assets/Img/w1.jpg" alt="Product"></div>
                            <div class="p"(mouseover)="imageChange($event)"><img src="../assets/Img/w2.jpg" alt="Product"></div>
                            <div class="p"(mouseover)="imageChange($event)"><img src="../assets/Img/w3.jpg" alt="Product"></div>
                        </div>
                        <div class="image">
                            <img src="../assets/Img/w4.jpg" alt="Product">
                        </div>
                        <div class="cart-line"></div>
                        <div class="cart-item">
                            <ul>
                                <li><a href=""><i class="fa fa-shopping-basket"></i></a></li>
                                <li><a href=""><i class="fa fa-heart"></i></a></li>
                                <li><a href=""><i class="fa fa-search"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="content">
                        <a href="javascript:void(0);">Incidid Tongue Bar</a>
                        <div class="rating">
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <p><span class="money">$81.00</span><span class="price-old">$89.00</span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-main">
                        <div class="discount">-6%</div>
                        <div class="label label-green">Pre-order</div>
                        <div class="product-container">
                            <div class="p"(mouseover)="imageChange($event)"><img src="./assets/Img/toy1.jpg" alt="Product"></div>
                            <div class="p"(mouseover)="imageChange($event)"><img src="../assets/Img/toy2.jpg" alt="Product"></div>
                            <div class="p"(mouseover)="imageChange($event)"><img src="../assets/Img/toy3.jpg" alt="Product"></div>
                        </div>
                        <div class="image">
                            <img src="../assets/Img/toy4.jpg" alt="Product">
                        </div>
                        <div class="cart-line"></div>
                        <div class="cart-item">
                            <ul>
                                <li><a href=""><i class="fa fa-shopping-basket"></i></a></li>
                                <li><a href=""><i class="fa fa-heart"></i></a></li>
                                <li><a href=""><i class="fa fa-search"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="content">
                        <a href="javascript:void(0);">Incidid Tongue Bar</a>
                        <div class="rating">
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <p><span class="money">$81.00</span><span class="price-old">$89.00</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
 
  <app-footer></app-footer>