<section class="bg-color">
    <div class="containers">
        <div class="title">
            <p>The Best Seller Of Hitheme</p>
            <h1><span>Best</span> Seller</h1>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-main">
                        <div class="discount">-9%</div>
                        <div class="label label-green">Pre-order</div>
                        <div class="product-container">
                            <div class="p" (mouseover)="imageChange($event)"><img src="../assets/Img/s3.jpg" alt="Product"></div>
                            <div class="p" (mouseover)="imageChange($event)"><img src="../assets/Img/s7.jpg" alt="Product"></div>
                            <div class="p" (mouseover)="imageChange($event)"><img src="../assets/Img/s5.jpg" alt="Product"></div>
                        </div>
                        <div class="image">
                            <img src="{{url}}" alt="Product">
                        </div>
                        <div class="cart-line"></div>
                        <div class="cart-item">
                            <ul>
                                <li><a href=""><i class="fa fa-shopping-basket"></i></a></li>
                                <li><a href=""><i class="fa fa-heart"></i></a></li>
                                <li><a href=""><i class="fa fa-search"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="content">
                        <a href="javascript:void(0);">Incidid Tongue Bar</a>
                        <div class="rating">
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <p><span class="money">$81.00</span><span class="price-old">$89.00</span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-main">
                        <div class="discount">-10%</div>
                        <div class="label label-green">Pre-order</div>
                        <div class="product-container">
                            <div class="p"(mouseover)="imageChange($event)"><img src="../assets/Img/k1.jpg" alt="Product"></div>
                            <div class="p"(mouseover)="imageChange($event)"><img src="../assets/Img/k3.jpg" alt="Product"></div>
                            <div class="p"(mouseover)="imageChange($event)"><img src="../assets/Img/
                                k2.jpg" alt="Product"></div>
                        </div>
                        <div class="image">
                            <img src="../assets/Img/k2.jpg" alt="Product">
                        </div>
                        <div class="cart-line"></div>
                        <div class="cart-item">
                            <ul>
                                <li><a href=""><i class="fa fa-shopping-basket"></i></a></li>
                                <li><a href=""><i class="fa fa-heart"></i></a></li>
                                <li><a href=""><i class="fa fa-search"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="content">
                        <a href="javascript:void(0);">Incidid Tongue Bar</a>
                        <div class="rating">
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <p><span class="money">$81.00</span><span class="price-old">$89.00</span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-main">
                        <div class="discount">-8%</div>
                        <div class="label label-green">Pre-order</div>
                        <div class="product-container">
                            <div class="p"(mouseover)="imageChange($event)"><img src="../assets/Img/ja1.jpg" alt="Product"></div>
                            <div class="p"(mouseover)="imageChange($event)"><img src="../assets/Img/ja2.jpg" alt="Product"></div>
                            <div class="p"(mouseover)="imageChange($event)"><img src="../assets/Img/ja3.jpg" alt="Product"></div>
                        </div>
                        <div class="image">
                            <img src="../assets/Img/ja3.jpg" alt="Product">
                        </div>
                        <div class="cart-line"></div>
                        <div class="cart-item">
                            <ul>
                                <li><a href=""><i class="fa fa-shopping-basket"></i></a></li>
                                <li><a href=""><i class="fa fa-heart"></i></a></li>
                                <li><a href=""><i class="fa fa-search"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="content">
                        <a href="javascript:void(0);">Track-Pants</a>
                        <div class="rating">
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <p><span class="money">$81.00</span><span class="price-old">$89.00</span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-main">
                        <div class="discount">-6%</div>
                        <div class="label label-green">Pre-order</div>
                        <div class="product-container">
                            <div class="p"(mouseover)="imageChange($event)"><img src="./assets/Img/t1.jpg" alt="Product"></div>
                            <div class="p"(mouseover)="imageChange($event)"><img src="../assets/Img/t2.jpg" alt="Product"></div>
                            <div class="p"(mouseover)="imageChange($event)"><img src="../assets/Img/t3.jpg" alt="Product"></div>
                        </div>
                        <div class="image">
                            <img src="../assets/Img/t3.jpg" alt="Product">
                        </div>
                        <div class="cart-line"></div>
                        <div class="cart-item">
                            <ul>
                                <li><a href=""><i class="fa fa-shopping-basket"></i></a></li>
                                <li><a href=""><i class="fa fa-heart"></i></a></li>
                                <li><a href=""><i class="fa fa-search"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="content">
                        <a href="javascript:void(0);">Incidid Tongue Bar</a>
                        <div class="rating">
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <p><span class="money">$81.00</span><span class="price-old">$89.00</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
  <section class="bg-color">
    <div class="containers">
        <div class="title">
            <p>Hurry Up!!!!! 20% Discount</p>
            <h1><span>School</span> Bags</h1>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-main">
                        <div class="discount">-9%</div>
                        <div class="label label-green">Pre-order</div>
                        <div class="product-container">
                            <div class="p" (mouseover)="imageChange($event)"><img src="../assets/Img/s1.jpg" alt="Product"></div>
                            <div class="p" (mouseover)="imageChange($event)"><img src="../assets/Img/s2.jpg" alt="Product"></div>
                            <div class="p" (mouseover)="imageChange($event)"><img src="../assets/Img/s4.jpg" alt="Product"></div>
                        </div>
                        <div class="image">
                            <img src="{{url}}" alt="Product">
                        </div>
                        <div class="cart-line"></div>
                        <div class="cart-item">
                            <ul>
                                <li><a href=""><i class="fa fa-shopping-basket"></i></a></li>
                                <li><a href=""><i class="fa fa-heart"></i></a></li>
                                <li><a href=""><i class="fa fa-search"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="content">
                        <a href="javascript:void(0);">Incidid Tongue Bar</a>
                        <div class="rating">
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <p><span class="money">$81.00</span><span class="price-old">$89.00</span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-main">
                        <div class="discount">-10%</div>
                        <div class="label label-green">Pre-order</div>
                        <div class="product-container">
                            <div class="p"(mouseover)="imageChange($event)"><img src="../assets/Img/j2.jpg" alt="Product"></div>
                            <div class="p"(mouseover)="imageChange($event)"><img src="../assets/Img/j3.jpg" alt="Product"></div>
                            <div class="p"(mouseover)="imageChange($event)"><img src="../assets/Img/j4.jpg" alt="Product"></div>
                        </div>
                        <div class="image">
                            <img src="../assets/Img/j1.jpg" alt="Product">
                        </div>
                        <div class="cart-line"></div>
                        <div class="cart-item">
                            <ul>
                                <li><a href=""><i class="fa fa-shopping-basket"></i></a></li>
                                <li><a href=""><i class="fa fa-heart"></i></a></li>
                                <li><a href=""><i class="fa fa-search"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="content">
                        <a href="javascript:void(0);">Incidid Tongue Bar</a>
                        <div class="rating">
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <p><span class="money">$81.00</span><span class="price-old">$89.00</span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-main">
                        <div class="discount">-8%</div>
                        <div class="label label-green">Pre-order</div>
                        <div class="product-container">
                            <div class="p"(mouseover)="imageChange($event)"><img src="../assets/Img/bl1.jpg" alt="Product"></div>
                            <div class="p"(mouseover)="imageChange($event)"><img src="../assets/Img/bl2.jpg" alt="Product"></div>
                            <div class="p"(mouseover)="imageChange($event)"><img src="../assets/Img/bl4.jpg" alt="Product"></div>
                        </div>
                        <div class="image">
                            <img src="../assets/Img/bl3.jpg" alt="Product">
                        </div>
                        <div class="cart-line"></div>
                        <div class="cart-item">
                            <ul>
                                <li><a href=""><i class="fa fa-shopping-basket"></i></a></li>
                                <li><a href=""><i class="fa fa-heart"></i></a></li>
                                <li><a href=""><i class="fa fa-search"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="content">
                        <a href="javascript:void(0);">Incidid Tongue Bar</a>
                        <div class="rating">
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <p><span class="money">$81.00</span><span class="price-old">$89.00</span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-main">
                        <div class="discount">-6%</div>
                        <div class="label label-green">Pre-order</div>
                        <div class="product-container">
                            <div class="p"(mouseover)="imageChange($event)"><img src="./assets/Img/wa1.jpg" alt="Product"></div>
                            <div class="p"(mouseover)="imageChange($event)"><img src="../assets/Img/wa2.jpg" alt="Product"></div>
                            <div class="p"(mouseover)="imageChange($event)"><img src="../assets/Img/wa4.jpg" alt="Product"></div>
                        </div>
                        <div class="image">
                            <img src="../assets/Img/wa3.jpg" alt="Product">
                        </div>
                        <div class="cart-line"></div>
                        <div class="cart-item">
                            <ul>
                                <li><a href=""><i class="fa fa-shopping-basket"></i></a></li>
                                <li><a href=""><i class="fa fa-heart"></i></a></li>
                                <li><a href=""><i class="fa fa-search"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="content">
                        <a href="javascript:void(0);">Incidid Tongue Bar</a>
                        <div class="rating">
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <p><span class="money">$81.00</span><span class="price-old">$89.00</span></p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
  </section>
  <app-footer></app-footer>