<div id="demo" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/Img/grid_2.jpg" alt="Los Angeles" width="1100" height="500">
      <div class="carousel-caption">
        <h3> Get 20% Of </h3>
        <p class="heading"> On Top Brands </p>
      </div>   
    </div>
    <div class="carousel-item">
      <img src="assets/Img/grid_3.jpg" alt="Chicago" width="1100" height="500">
      <div class="carousel-caption">
        <h3>Get Discount Cupan On Shopping Of 2000</h3>
        <p class="heading">Hurry Up !!!!</p>
      </div>   
    </div>
    <div class="carousel-item">
      <img src="assets/Img/grid_4.jpg" alt="New York" width="1100" height="500">
      <div class="carousel-caption">
        <h3>Get 40-70 off On </h3>
        <p class="heading">Electronic Product</p>
      </div>   
    </div>
  </div>
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
<!-- policy starts -->

<section class="policy">
    <div class="containers test-center">
  <div class="row">
    <div class="col-md-4">
      <div class="policy-card">
        <div class="round">
          <div class="round-icon">
            <i class="fa fa-car"></i>
          </div>
        </div>
        <h2>Free Shiping &amp; Return</h2>
        <p>Free Shiping on all UK order</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="policy-card">
        <div class="round">
          <div class="round-icon">
            <i class="fa fa-refresh"></i>
          </div>
        </div>
        <h2>Money Back Gurrenty</h2>
        <p>30 Days Money back Gurrenty</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="policy-card">
        <div class="round">
          <div class="round-icon">
            <i class="fa fa-phone"></i>
          </div>
        </div>
        <h2>Online Support 24/7</h2>
        <p>We Support Online 24/24 on a day</p>
      </div>
    </div>
  </div>
    </div>
  </section>

  
<!-- policy product starts -->

<section class="policy-product">
    <div class="containers">
      <div class="row">
        <div class="col-md-4">
          <div class="policy-p-card">
            <div class="date">
              <h3>25</h3>
              <h4>June</h4>
            </div>
            <div class="policy-img">
              <img src="../assets/Img/bg2.jpg" alt="p1">
            </div>
            <h2>Lorem ipsum dolor sit.</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus, aliquid exercitationem aut consequuntur modi cum sed dolorum in illo omnis eveniet consectetur nobis ullam ipsum impedit beatae commodi perspiciatis blanditiis aspernatur eius ipsa quaerat.</p>
            <a href="" class="read-more">Read More <i class="fa fa-caret-right"></i> </a>
          </div>
          </div>
        <div class="col-md-4">
          <div class="policy-p-card">
            <div class="date">
              <h3>25</h3>
              <h4>June</h4>
            </div>
            <div class="policy-img">
              <img src="../assets/Img/bg1.jpg" alt="p1">
            </div>
            <h2>Lorem ipsum dolor sit.</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus, aliquid exercitationem aut consequuntur modi cum sed dolorum in illo omnis eveniet consectetur nobis ullam ipsum impedit beatae commodi perspiciatis blanditiis aspernatur eius ipsa quaerat.</p>
            <a href="" class="read-more">Read More <i class="fa fa-caret-right"></i> </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="policy-p-card">
            <div class="date">
              <h3>25</h3>
              <h4>June</h4>
            </div>
            <div class="policy-img">
              <img src="../assets/Img/mob.jpg" alt="p1">
            </div>
            <h2>Lorem ipsum dolor sit.</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus, aliquid exercitationem aut consequuntur modi cum sed dolorum in illo omnis eveniet consectetur nobis ullam ipsum impedit beatae commodi perspiciatis blanditiis aspernatur eius ipsa quaerat.</p>
            <a href="" class="read-more">Read More <i class="fa fa-caret-right"></i> </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
  <!-- polict product ends -->
  <!-- ============================================= -->
  <!-- ============================================= -->


  <section class="best-selling">
    <div class="container">
        <div class="best-selling-container">
            <div class="sale-peice">
                Sale <strong>14%</strong> Off
            </div>
            <div class="selling-col-1">
                <div class="selling-left">
                    <ul>
                        <li>
                            <span class="count-date">194</span>
                            <span class="count-day">Days</span>
                        </li>
                        <li>
                            <span class="count-date">01</span>
                            <span class="count-day">Hours</span>
                        </li>
                        <li>
                            <span class="count-date">22</span>
                            <span class="count-day">Mins</span>
                        </li>
                        <li>
                            <span class="count-date">24</span>
                            <span class="count-day">Secs</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="selling-col-2">
                <div class="selling-img">
                    <img src="../assets/Img/head7.jpg" alt="Best Selling">
                </div>
            </div>
            <div class="selling-col-3">
                <div class="selling-heading">
                    <a href="javascript:void(0);">Enim Picanha Enim</a>
                    <div class="selling-rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                </div>
                <p>
                    At vero eos et accusamus et iusto odio dignissimos ducimus qui 
                    blanditiis praesentium voluptatum deleniti atque corrupti quos 
                    dolores et quas molestias excepturi sint occaecati cupiditate non
                    ovident...
                </p>
                <h3><span class="selling-amount">$231.00</span> <span class="selling-discount">$256.00</span></h3>
                <div class="selling-button">
                    <a href="javascript:void:0;" class="cart-button"><i class="fa fa-shopping-cart"></i> Add To Cart</a>
                    <button type="button" class="main-btn">
                        <a href="javascript:void:(0);"><i class="fa fa-heart"></i></a>
                        <a href="javascript:void:(0);"><i class="fa fa-search"></i></a>
                    </button>
                </div>
            </div>
        </div>
    </div>
  </section>

  <!-- Partner STARTS -->
<section class="partner">
    <div class="containers">
      
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide *ngFor="let partnersArrays of partnersArray"><img src="{{partnersArrays.imgName}}" alt="partner"></ng-template>  
         
      </owl-carousel-o>
      </div>
      
        
    </section>
    
    
      
      
    
    <!-- PARTNER ENDS -->
    <!-- =========================================== -->
    <!-- =========================================== -->



    <script>
        function imageChange(src){
          document.getElementById("image").setAttribute('src',src);
        }
      </script>
      
      <app-footer></app-footer>